h1 {
    color: green;
    font-style: italic;
  }

 
.dropbtn {
    background-color: #3498DB;
    color: white;
    min-width: 500px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: green;
    color: white;
    min-width: 500px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-button {
    background-color: green;
    border: none;
    color: white;
    width: 300px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.dropdown-button:hover {
    background-color: lightgreen;
    color: white;
}

.dropdown-content p {
    color: white;
    width: 300px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.dropdown p:hover {background-color: lightgreen}

.wrapper {
    text-align: center;
    display: inline-block;
    top: 50%;
    left: 50%;
  }

.show {display:block;}